# Chapter 3 - Basics of Python programming

In this notebook, I will review the basics of Python pragramming. <br>
Although I have used Python for 2 years in the works of data analysis, I have never learned systematically the ways of loop, if-conditions, and generating own functions. <br>
It is the time to tackle them!

https://s3.amazonaws.com/mimirplatform.production/files/fd8f3d13-0bd7-4fdc-b7b9-ad6fa64ff6a5/QTEM_Intro_Python.html

## Instructions

In [ ]:
print("Hello World!")

In [ ]:
print("Hello \
World!")

## Comments

In [ ]:
# The following instruction will display the sentence "Hello World!"

print("Hello World!")

## Key words and reserved words

## Indentation

In [ ]:
a=0

for i in range(10):
    
    #beginning of the instruction to be executed several times
    
    a = a+i
    
    #end of the instruction to be executed several times

print(a)

## Symbols and operators

In [ ]:
a = (1+2)/3  # algebraic computation

In [ ]:
b = (1,2)  # define a tuple

In [ ]:
print(b)  # call a function

In [ ]:
my_list = [1,2,3]  # list of values
print(my_list)

In [ ]:
my_list = [1,2,3]    # list of values
#       0 1 2     # corresponding indices
    
print(my_list[0])
print(my_list[1])
print(my_list[2])

In [ ]:
my_list = [1,2,3,4,5]

print(my_list[0:3]) #from index 0 to index 2
print(my_list[1:5]) #from index 1 to index 4

In [ ]:
set = {1,2,3}

print(set)

In [ ]:
dictionary = {'key1': 'value1' , 'key2': 'value2'}

print(dictionary)

In [ ]:
print(10-5)   #subtraction

In [ ]:
print(12/3)   #division

In [ ]:
print(10*4)   #product

In [ ]:
print(2**3)   #exponentiation

# Chapter 4 - First steps in programmingFirst steps in programming

## Variables and assignation

In [ ]:
example1 = 1

In [ ]:
print(example1 + 2)

In [ ]:
example2 = 1 + 2 * 3

example3 = example2 + 10

print(example3)

In [ ]:
a = b = c = 4

print(b)

In [ ]:
a, b, c = 1, 2, "Hello"

print(a)
print(b)
print(c)

In [ ]:
a = 1

b = 2

c = "Hello"

In [ ]:
print(a , c)

In [ ]:
print('%d ' %a + c)

In [ ]:
example4 = 42

# example4 is a number

example4 = 42 + 0.11

#example4 has now a different value but it is still a number

example4 = "Hello"

#example4 is now a string!

### exercises

In [ ]:
x = 10 * 2

In [ ]:
z = 2
y = 10 + z

In [ ]:
display(y*z)

## Data types

In [ ]:
var1 = 3
var2 = 6

print(var1 * var2)
print(var2 / 2)

In [ ]:
print(type(12))
print(type(12.1))
print(type(12j))

In [ ]:
s = "Hello World!"

print(s + " - case 1")
print(s[1] + " - case 2")
print(s[6:12] + " - case 3")
print((s+' ')*2 + "- case 4")

In [ ]:
l = [ 'abcd', 123 , 4.56, 'hello' ]

print(l)
print(l[0:2])
print((l[3] + " ") * 4)

In [ ]:
# empty list of length 10

l = ['']*10

print(l)

In [ ]:
# list containing 10 times the value 0:

l = [0]*10

print(l)

In [ ]:
t1 = ('abcd', 123 , 4.56, 'hello')
t2 = ('world', 789)

print(t1[0])
print(t1[1:])
print(t1 + t2)

In [ ]:
d = {1:'test1','test2':2}

print(type(d))
print("d[1] = " + d[1]);
print("d['test2'] = " , d['test2']);
print(d.keys())

d['test3'] = 'a'
print(d)

In [ ]:
x = 7
print(type(x))

y = chr(x)
print(type(y))

z = float(x)
print(type(z))

### exercises

In [ ]:
x = "Hello World!"
print(x[4])

In [ ]:
empty_list = ['']*5
print(empty_list)

In [ ]:
my_list = ["a", "10", "+"]
print(my_list)

In [ ]:
my_new_list = [x, my_list]
print(my_new_list)

## Conditional blocks

In [ ]:
a = 7
if a <= 10:
    print('a is lower than 10')

In [ ]:
a = 5
if a == 5:
    print('a is equal to 5')

In [ ]:
a = 11
if a <= 10:
    print('a is lower than 10')

In [ ]:
a = 11
if a <= 10:
    print('a is lower than 10')
else:
    print('a is higher than 10')

In [ ]:
a = 6
if a >= 10:
    print('a is larger than 10')
elif a >= 5:
    print('a is larger than 5 and lower than 10')
else:
    print('a is less than 10')

In [ ]:
a = 3
if a >= 10:
    print('a is larger than 10')
else:
    if a >= 5:
        print('a is larger than 5 and lower than 10')
    else:
        print('a is lower than 5')

In [ ]:
my_age = 19
if 18 < my_age < 24:
    print('I am between 18 and 24 years old.')

In [ ]:
age_max = 110
if 18 < my_age < age_max < 24 :
    print('The condition is true')
else :
    print('The condition is false')

### exercises

In [ ]:
x = 25
if x >= 22:
    print("x is larger than 22!")
else:
    print("x is smaller than 22.")

In [ ]:
x = 5
y = 8
z = 10
if y < x < z or z < x < y:
    print(x)
elif x < y < z or z < y < x:
    print(y)
elif x < z < y or y < z < x:
    print(z)

## Iterative blocks

In [ ]:
for a in (2, 3, 5, 7):
    print('%d is a prime number' % a)

In [ ]:
a=0

for i in range(10):
    a+=i

print(a)

In [ ]:
n=5

# sequence of integers between 0 and 4:
x=range(5)

print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])

In [ ]:
n=5
x=range(5)

for i in range(5):
    print(x[i])

In [ ]:
a,b = -1,2

# sequence of integers between -1 and 1:
x=range(-1,2)

print(x[0])
print(x[1])
print(x[2])

In [ ]:
a,b = -1,2

# sequence of integers between -1 and 1:
x=range(-1,2)

for i in range(3):
    print(x[i])

In [ ]:
a,b,c = -2,5,2

for i in range(a,b,c):
    print(i)

In [ ]:
a = 1
while a < 500:
    print(a)
    a+=1

In [ ]:
c = 0
for b in range(4,12):
    print('b is equal to %d' % b)
    c += 2
    print('c is equal to %d' % c)
    if b < c:
        break

In [ ]:
for a in range(-5,5):
    if a < 0:
        continue
    print(a)

### Question 1
Let x=3 and y=2222.  <br>
Write a loop such that at each iteration, x is multiplied by 3 and y is multiplied by 2. <br>
Stop looping as soon as x becomes larger than y. <br>
Then, print the values obtained at the end of your loop for x and y.

In [ ]:
x=3
y=2222

# write your code below
while x <= y:
    x *= 3
    y *= 2


# last instruction of your code:
print(x,y)

### Question 2
Use a loop for computing the following value of x: <br>
x = 1^2 + 2^2 + 3^2 + 4^2 + ... + 122^2 <br>
Then, print the value of x.

In [ ]:
# write your code below
x=0
for i in range(1,123):
    x += i**2
# last instruction of your code:
print(x)

## Functions

In [ ]:
def hello_user():
    print("Hello user!")

In [ ]:
hello_user()

In [ ]:
def square(n):
    return(n*n)

In [ ]:
square(3)

In [ ]:
# function that will compute the area of a rectangle

def rect_area(a,b):
    return(a*b)

# applying the function to a rectangle of sides 2 and 3
rect_area(2,3)

In [ ]:
# definition of the function

def abs_val(x):
    if x >= 0:
        return(x)
    else:
        return(-x)

# test of the function for the value -3

abs_val(-3)

### exercises

In [ ]:
#function
def triangle_area(b,h):
    return((b*h)/2)

#test
triangle_area(3,4)

In [ ]:
#function
def cube(x):
    return(x*x*x)

#test
cube(4)

In [ ]:
#function
def fact(n):
    j=1
    for i in range(1,n+1):
        j*=i
    return(j)

#test
fact(5)

In [ ]:
#function
def sum_integers(n):
    j=0
    for i in range(1,n+1):
        j+=i
    return(j)

#test
print(sum_integers(22))

#checking
print((22*(22+1))/2)

### Question 3
Define a function called sum_squared computing the sum of the squared of the n first positive integers, that is, the sum <br>
1^2  + 2^2  + ... + n^2 <br>
Note that your function is supposed to work for any arbitrary integer n.

In [ ]:
# optional instructions

def sum_squared(n):
    # write your function below
    x = 0
    for i in range(1, n+1):
        x = x + (i**2)
    return x
# optional instructions

# Chapter 5 - Packages

## How to install and import packages

In [ ]:
help(print)

In [ ]:
import pandas as pd

help(pd.pivot_table)

### exercises

In [ ]:
import numpy as np

In [ ]:
help(np.array)

## Some useful packages

In [ ]:
# a first example : a vector

x = np.array([1, 2, 3, 4])

print(x)

In [ ]:
# a second example : a matrix (pay attention to the double square brackets when there are several lines)

y = np.array([[ 0,  1,  2,  3,  4],
              [ 5,  6,  7,  8,  9]])

print(y)

In [ ]:
# array defined by a range of values

x = np.arange(1,5)
 
print(x)

In [ ]:
# array defined by a range of values with a step different from 1

x = np.arange(1,5,0.5)
 
print(x)

In [ ]:
# array of zeros

x = np.zeros(4)

print(x)

In [ ]:
# array of ones

x = np.ones(4)

print(x)

In [ ]:
# array of random numbers between 0 and 1

x = np.random.random(4)

print(x)

In [ ]:
help(np.random.random)

In [ ]:
# declaration of the array

x = np.array([[ 0,  1,  2,  3,  4],
              [ 5,  6,  7,  8,  9],
              [10, 11, 12, 13, 14]])


print(x)

In [ ]:
# attributes

# number of axes (here 2: an horizontal one and an vertical one)
print(x.ndim)

# shape
print(x.shape)

#size (number of elements)
print(x.size)

# type of values
print(x.dtype)

In [ ]:
# sum

a = np.array([1, 2, 3, 4])
b = np.arange(1, 5)

print(a+b)

In [ ]:
# subtraction

print(a-b)

In [ ]:
# product entry by entry

b = np.arange(1, 5)

print(b*b)

In [ ]:
# multiplication by a scalar

print(1/2*b)

In [ ]:
# exponential function

a = np.array([1, 2, 3, 4])

print(np.exp(a))

In [ ]:
# logarithmic function

print(np.log(a))

In [ ]:
# sinus function

print(np.sin(a))

In [ ]:
# usual matrix product

a = np.array([[1, 2],
              [3, 4]])
b = np.array([[5],
              [6]])

print(a @ b)

In [ ]:
# dot product

a = np.array([1, 2, 3, 4])
b = np.array([1, -1, 1, -1])

print(a.dot(b))

In [ ]:
# sum of elements

a = np.array([[1,2],
              [3,4]])

print(a.sum())

In [ ]:
print(a.sum(axis=0))

In [ ]:
print(a.sum(axis=1))

In [ ]:
print(a.max())
print(a.min())

In [ ]:
# max of each column

print(a.max(axis=0))

In [ ]:
a = np.array([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
# access all the elements except the first one and the last two

print(a[1:-2])

In [ ]:
# reverse the order of the elements

print(a[::-1])

In [ ]:
# display one out of every two elements

print(a[::2])

In [ ]:
b = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

print(b)

In [ ]:
# array of zeros (pay attention to the double parentheses)

c = np.zeros((3,3))

print(c)

In [ ]:
# access the second line

print(b[1])

In [ ]:
#access the second element of the second line

print(b[1][1])

In [ ]:
# access to a subarray

print(b[0:2,0:2])

In [ ]:
a = np.array([[1, 2, 3],
              [4, 5, 6]])

print(a.shape)

In [ ]:
print(a.reshape(6,1))

In [ ]:
print(a.reshape(1,6))

In [ ]:
# note that the initial array has not been affected:

print(a)

### exercises

In [ ]:
x = np.arange(10,23,1.5)

print(x)

In [ ]:
x = np.zeros(5)

print(x)

In [ ]:
x = np.zeros(10)
x[::2] = 1

print(x)

In [ ]:
x = np.arange(9).reshape(3,3)

print(x)

In [ ]:
x = np.random.random(9).reshape(3,3)

print(x)

In [ ]:
# initialization of a 5x5 matrix
x = np.zeros((5,5))

# fill each row with values from 0 to 4
for i in range(5):
    x[i] = np.arange(5)

print(x)

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])

print(s)

In [ ]:
df = pd.DataFrame({  'A' : [1., 2., 3., 4.],
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]) 
                  })

df

In [ ]:
print(df.dtypes)

In [ ]:
df['A']

In [ ]:
df[0:3]

In [ ]:
df.loc[:, 'C':'E']

In [ ]:
df.iloc[:, 2:]

In [ ]:
df.iloc[[0, 2], [0, 2, 4]]

In [ ]:
# the condition select the indexes corresponding to elements of the column A larger than 2

df[df['A'] > 2]

In [ ]:
# allow to set the value of the element with index 1 and in the column A equal to 7

df.at[1, 'A'] = 7.0

df

In [ ]:
# allow to set the value of the element with index 2 and in the column with index 0 (that is, the first one) equal to 7
# note that the initial object df has been affected by the previous modification

df.iat[2, 0] = 7.0 

df

In [ ]:
#allow to set the values for an entire column

df.loc[:,'D'] = np.array([5] * len(df))

df

In [ ]:
print(len(df))

In [ ]:
s2 = pd.Series(np.arange(7,12))

s2

In [ ]:
df2 = pd.DataFrame(np.random.random(24).reshape((6,4)))

df2

In [ ]:
df2_1 = df2[:2]
df2_2 = df2[4:]

df2_1

In [ ]:
df2_2

In [ ]:
pd.concat([df2_1, df2_2])

In [ ]:
x = pd.DataFrame({'key': ['a', 'b'], 'val': [1, 2]})
y = pd.DataFrame({'key': ['a', 'b'], 'val': [4, 5]})

pd.merge(x, y, on='key')

In [ ]:
# allow to add a new line to df2 corresponding to the line with index 3

df2.append(df2.iloc[3], ignore_index=True)

In [1]:
import pandas as pd

# input path (modify the path below if necessary, depending on the location of the file "cars.csv" on your computer)
df = pd.read_csv("../working_data/cars.csv")
df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [ ]:
#first rows of the column Type

df['Type'][0:5]

### exercises

In [ ]:
my_list = list('abc')
my_array = np.arange(3)

print(pd.Series(my_list))
print(pd.Series(my_array))

In [ ]:
# Answer exercise 2.

a = pd.Series(np.zeros(5))
b = pd.Series(np.ones(5))

print(pd.concat([a, b]))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot([1,2,3,4])
plt.show()

In [ ]:
t = np.arange(0., 5., 0.2)

# red dashes and blue squares
plt.plot(t, t, 'r--', t, t**2, 'bs')
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

#first function
def f1(t):
    return np.exp(-t)

#second function
def f2(t):
    return np.cos(2*np.pi*t)

#x-values for the first function
t1 = np.arange(0.0, 10.0, 0.1)

#x-values for the second function
t2 = np.arange(0.0, 10.0, 0.02)

#first graph
plt.subplot(211)
plt.plot(t1, f1(t1), 'bo', t2, f2(t2), 'k')

#second graph
plt.subplot(212)
plt.plot(t2, f2(t2), 'r--')
plt.show()

### Question 4
Thanks to its Taylor series, one knows that a pretty good approximation of log(1+x) is given for any x close to 0 by the following function:

f(x) = x - x2/2 + x3/3 - x4/4 + x5/5

Compute the approximation error called app_error between log(1.07) and its approximated value f(0.07) (coming from the Taylor series above), that is, app_error = log(1.07)-f(0.07).  Then, print the value of app_error.

Define a vector called v given by:
           v = ( log(1)-f(0) , log(1.01)-f(0.01) , log(1.02)-f(0.02) , log(1.03)-f(0.03) , ... , log(1.09)-f(0.09) , log(1.1)-f(0.1) ) , that is, a vector v containing all the approximation errors between log(1), log(1.01), log(1.02), log(1.03), ... , log(1.1) and their                     respective approximated values. Then, print the vector v.

In [ ]:
# write your code below
import numpy as np
a = 0.07
def f(x):
    f = x - (x**2 / 2) + (x**3 / 3) - (x**4 / 4) + (x**5 / 5)
    return f

app_error = np.log(1+a) - f(a)

x = np.arange(0,11)
v = np.log(1+0.01*x) - f(0.01*x)

# your solution for the question 1:
print(app_error)

#your solution for the question 2:
print(v)

### Question 5
Consider a vector x ranging from 0 to 1 in steps of 0.01, that is, a vector x given by:

x = (0, 0.01, 0.02, ..., 0.98, 0.99, 1)

Construct a vector called y having the same length as x and containing the sine of each value of x, 
that is, a vector y given by y = (sin(0), sin(0.01), sin(0.02), ..., sin(0.98), sin(0.99), sin(1)).

Construct a vector called z having the same length as x and containing the cosine of each value of x, that is, a vector z given by  z = (cos(0), cos(0.01), cos(0.02), ..., cos(0.98), cos(0.99), cos(1)).

Create a dataframe called df such that:
the first column is called x and contains the values of the vector x; <br>
the second column is called sin and contains the values of the vector y; <br>
the third column is called cos and contains the values of the vector z; <br>
the fourth column is called max and contains the name of the function with the highest value. For instance, for x=0, sin(0)=0 and cos(0)=1 so that the fourth column must contain the name cos. <br>
Print the dataframe df.

In [ ]:
import numpy as np
import pandas as pd

# write your code below
x = np.arange(0, 1.0001, 0.01)
y = np.sin(x)
z = np.cos(x)

df1 = pd.DataFrame({"x": x, "sin": y, "cos": z})
df2 = pd.DataFrame({"max":df1.idxmax(axis=1)})
df = pd.concat([df1, df2], axis=1)
# last instruction of your code:
print(df)

In [ ]:
x

In [ ]:
y

In [ ]:
z

In [ ]:
max_value

In [ ]:
df1

In [ ]:
df2

In [ ]:
df.info()